:root{
  --dark:#14171d;
  --dark-x:#1d2027;
}

body{
  background-color:var(--dark-x)
}

* {
  margin: 0;
  padding: 0;
}
/*aqui empieza el header*/
.nav {
  background-color:var(--dark);
  text-align: right;
}

.nav ul {
  margin-right: 30px;
}

.nav li {
  display: inline-block;
  padding: 14px 12px;
}

.nav .li-buttons a {
  color:var(--dark);
  transition: all 0.2s;
}

.nav .li-buttons{
    background-color:#fff;
    margin: 6px;
    padding:6px 9px;
    border: 2px solid #fff;
    transition: all 0.2s;
}

.nav .li-buttons:hover{
    background-color:var(--dark);
    margin: 6px;
    padding:6px 9px;
    
}

.nav .li-buttons:hover > a{
    color:#fff;
}

.nav li a {
  text-decoration: none;
  color:#fff;
}

.jimp{
  float: left;
  margin-left:50px;
  font-size:25px;
}
/*aqui termina el header*/

/*aqui empieza el article*/
.contenido {
  width: 90%;
  max-width: 1000px;
  margin: auto 175px ;
  overflow: hidden;
  text-align:center;
}

h5{
  text-alig: center;
  font-size: 50px;
}

.uno{
  background-color:rgba(42, 45, 100);
}

.dos{
  background-color:rgba(76, 80, 169);
}

.tres{
  background-color:rgba(42, 45, 100);
}

.cuatro{
  background-color:rgba(76, 80, 169);
}

.img-1 {
    width: 300px;
}

.img-2{
    width: 300px;
   
}

.img-3{
    width: 300px;
    
}



