/*reinicie el margen y el padding para luego modificarlo al antojo*/
*{
    margin: 0;
    padding: 0;
    font-family:Century 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* */
section{
    
}
/*es para que el contenido este en el centro y no este por toda la pantalla*/
.contenido{
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}

.uno{
    text-align:right;
}

.tres{
    text-align:right;
}

.cuatro{
    text-align: center;
}

.logo{
    width: 200px;
    margin: 20px;
}

